.fixed-nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  margin-bottom: 0;
}

a {
  padding: 8px 10px;
  font-size: 1.5rem;
}

.fixed-nav a {
  color: black;
  text-decoration: none;
}

.hero-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("images/heroImage.jpg");
  background-size: cover;
}

.hero-title {
  font-size: 4.5rem;
}

.hero-desc {
  font-size: 2rem;
}

.hero-text {
  text-align: center;
  color: white;
}

.section-header {
  text-align: center;
}

.about-container {
  display: flex;
}

.about-text {
  padding-left: 2rem;
}

.about-container img {
  width: 25%;
  border-radius: 50%;
}

#about {
  padding: 2rem;
}

#contact {
  padding: 2rem;
  text-align: center;
}

.contact-link {
  text-decoration: none;
  display: block;
}
